[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
pymongo = "*"
python-dotenv = "*"
dateparser = "*"
Scrapy = "*"
spacy = "*"
pylatexenc = "*"
sklearn = "*"
nltk = "*"
dnspython = "*"
Flask-JWT-Extended = "*"
ner-annotator = "*"
bcrypt = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
