appdirs==1.4.3
astroid==2.5.3
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.6
bcrypt==3.2.0
blis==0.7.4
CacheControl==0.12.6
catalogue==2.0.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0
cryptography==3.4.7
cssselect==1.1.0
cymem==2.0.5
dateparser==1.0.0
distlib==0.3.0
distro==1.4.0
dnspython==2.1.0
Flask==1.1.2
Flask-JWT-Extended==4.1.0
gunicorn==20.1.0
h2==3.2.0
hpack==3.0.0
html5lib==1.0.1
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
iniconfig==1.1.1
ipaddr==2.2.0
isort==5.8.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
lazy-object-proxy==1.6.0
lockfile==0.12.2
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
mongomock==3.22.1
msgpack==0.6.2
murmurhash==1.0.5
ner-annotator==0.1.1
nltk==3.6.2
numpy
packaging==20.9
parsel==1.6.0
pathy==0.4.0
pep517==0.8.2
pluggy==0.13.1
preshed==3.0.5
priority==1.3.0
progress==1.5
Protego==0.1.16
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.7.3
PyDispatcher==2.0.5
PyJWT==2.0.1
pylatexenc==2.10
pylint==2.7.4
pymongo==3.11.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.12
PyQt5-sip==4.19.19
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.17.0
pytoml==0.1.21
pytz==2021.1
queuelib==1.6.1
regex==2021.4.4
requests==2.25.1
retrying==1.3.3
rope==0.18.0
scikit-learn==0.24.1
scipy
Scrapy==2.5.0
sentinels==1.0.0
service-identity==18.1.0
six==1.15.0
sklearn==0.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.3
srsly==2.4.1
thinc==8.0.3
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.60.0
Twisted==21.2.0
typer==0.3.2
tzlocal==2.1
urllib3==1.26.4
w3lib==1.22.0
wasabi==0.8.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zope.interface==5.4.0
